@charset "UTF-8";
/**
使用方法
@include keyframes(anMeinv,(
    0%:(
        background: url(i/meinv.png) no-repeat pxToRem(140) pxToRem(11),
        background-size: pxToRem(165) pxToRem(157)
    ),
    50%:(
        background: url(i/meinv.png) no-repeat pxToRem(140) pxToRem(11),
        background-size: pxToRem(265) pxToRem(257)
    ),
    75%:(
        background: url(i/meinv.png) no-repeat pxToRem(140) pxToRem(11),
        background-size: pxToRem(565) pxToRem(657)
    ),
    100%:(
        background: url(i/meinv.png) no-repeat pxToRem(140) pxToRem(11),
        background-size: pxToRem(465) pxToRem(557)
    )
));
@include animation(anMeinv 2s ease-out forwards);

*/
.loadingBox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999; }
  .loadingBox .loadingbg {
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5; }
  .loadingBox .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 6;
    position: relative;
    overflow: hidden; }

.loading-box .loading {
  width: Rm(100);
  height: Rm(100);
  margin: Rm(-50) 0 0 Rm(-50);
  position: relative; }
  .loading-box .loading:before {
    content: "";
    position: absolute;
    display: block;
    border: Rm(5) solid #1c71ff;
    opacity: .9;
    width: Rm(50);
    height: Rm(50);
    left: 50%;
    top: 50%;
    margin: Rm(-25) 0 0 Rm(-25);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 Rm(-15) #1c71ff;
    -moz-box-shadow: 0 0 Rm(-15) #1c71ff;
    box-shadow: 0 0 Rm(-15) #1c71ff;
    -webkit-animation: spin-right 0.5s 0s linear infinite normal;
    -moz-animation: spin-right 0.5s 0s linear infinite normal;
    -ms-animation: spin-right 0.5s 0s linear infinite normal;
    -o-animation: spin-right 0.5s 0s linear infinite normal;
    animation: spin-right 0.5s 0s linear infinite normal; }

@-webkit-keyframes spin-right {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2; }
  50% {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    opacity: 1; }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    opacity: 0.2; } }

@-moz-keyframes spin-right {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2; }
  50% {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    opacity: 1; }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    opacity: 0.2; } }

@-ms-keyframes spin-right {
  .loading-box .loading:before 0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2; }
  .loading-box .loading:before 50% {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    opacity: 1; }
  .loading-box .loading:before 100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    opacity: 0.2; } }

@-o-keyframes spin-right {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2; }
  50% {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    opacity: 1; }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    opacity: 0.2; } }

@keyframes spin-right {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2; }
  50% {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    opacity: 1; }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    opacity: 0.2; } }
  .loading-box .loading:after {
    content: "";
    position: absolute;
    display: block;
    width: Rm(30);
    height: Rm(30);
    border: Rm(5) solid #1c71ff;
    opacity: .9;
    border-radius: 50%;
    border-left-color: transparent;
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 0 Rm(-15) #1c71ff;
    -moz-box-shadow: 0 0 Rm(-15) #1c71ff;
    box-shadow: 0 0 Rm(-15) #1c71ff;
    left: 50%;
    top: 50%;
    margin: Rm(-15) 0 0 Rm(-15);
    -webkit-animation: spin-left 0.5s 0s linear infinite normal;
    -moz-animation: spin-left 0.5s 0s linear infinite normal;
    -ms-animation: spin-left 0.5s 0s linear infinite normal;
    -o-animation: spin-left 0.5s 0s linear infinite normal;
    animation: spin-left 0.5s 0s linear infinite normal; }

@-webkit-keyframes spin-left {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2; }
  50% {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    opacity: 1; }
  100% {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    opacity: 0.2; } }

@-moz-keyframes spin-left {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2; }
  50% {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    opacity: 1; }
  100% {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    opacity: 0.2; } }

@-ms-keyframes spin-left {
  .loading-box .loading:after 0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2; }
  .loading-box .loading:after 50% {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    opacity: 1; }
  .loading-box .loading:after 100% {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    opacity: 0.2; } }

@-o-keyframes spin-left {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2; }
  50% {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    opacity: 1; }
  100% {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    opacity: 0.2; } }

@keyframes spin-left {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2; }
  50% {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    opacity: 1; }
  100% {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    opacity: 0.2; } }

.header {
  height: Rm(88);
  background: #fff;
  box-shadow: inset 0 -1px 0 0 #eee;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 900; }
  .header h3 {
    font-size: Rm(32);
    font-family: "微软雅黑";
    color: #333;
    height: Rm(88);
    line-height: Rm(88);
    text-align: center;
    overflow: hidden;
    padding: 0 Rm(88);
    position: relative;
    font-weight: bold; }
    .header h3 img {
      display: block;
      height: Rm(80);
      margin: Rm(4) auto 0; }
    .header h3 a {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      width: Rm(88);
      height: Rm(88);
      background: url(./i/return.png) no-repeat center center;
      background-size: Rm(36) Rm(36); }
    .header h3 .record {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      height: Rm(88);
      line-height: Rm(88);
      width: 100%;
      padding-right: Rm(24);
      box-sizing: border-box;
      display: block; }
      .header h3 .record a {
        float: right;
        width: auto;
        font-size: Rm(28);
        color: #333;
        position: static;
        background: none; }

.h3 {
  height: Rm(20);
  padding: 0 Rm(30); }
  .h3 h3 {
    height: Rm(20);
    line-height: Rm(40);
    font-size: Rm(28);
    color: #fff;
    font-family: "微软雅黑"; }

.mt {
  margin-top: Rm(36); }

.navbg {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: Rm(136);
  z-index: 900; }
  .navbg .nav {
    height: Rm(136);
    background: #fff;
    box-shadow: inset 0 2px 0 0 #eee;
    box-sizing: border-box;
    padding: 0 Rm(22); }
    .navbg .nav h4 {
      float: left;
      width: 33.3%;
      box-sizing: border-box; }
      .navbg .nav h4 a {
        display: block;
        cursor: pointer;
        position: relative; }
        .navbg .nav h4 a i {
          display: block;
          width: Rm(48);
          height: Rm(48);
          margin: Rm(20) auto 0; }
        .navbg .nav h4 a .activity {
          background: url(./i/activity.png) no-repeat center center;
          background-size: Rm(48) Rm(48); }
        .navbg .nav h4 a .task {
          background: url(./i/task.png) no-repeat center center;
          background-size: Rm(48) Rm(48); }
        .navbg .nav h4 a .account {
          background: url(./i/account.png) no-repeat center center;
          background-size: Rm(48) Rm(48); }
        .navbg .nav h4 a span {
          display: block;
          padding-top: Rm(6);
          height: Rm(40);
          line-height: Rm(40);
          text-align: center;
          font-size: Rm(28);
          font-family: "微软雅黑";
          color: #B2B2B2; }
        .navbg .nav h4 a var {
          position: absolute;
          width: Rm(12);
          height: Rm(12);
          background: red;
          border-radius: 50%;
          right: Rm(90);
          top: 0;
          display: none; }
        .navbg .nav h4 a .cur {
          display: block; }
        .navbg .nav h4 a.current .activity {
          background: url(./i/activitys.png) no-repeat center center;
          background-size: Rm(48) Rm(48); }
        .navbg .nav h4 a.current .task {
          background: url(./i/tasks.png) no-repeat center center;
          background-size: Rm(48) Rm(48); }
        .navbg .nav h4 a.current .account {
          background: url(./i/accounts.png) no-repeat center center;
          background-size: Rm(48) Rm(48); }
        .navbg .nav h4 a.current span {
          color: #FF665C; }

.am-toast-text {
  font-family: "微软雅黑"; }

.h5_read .money-con {
  display: none;
  width: Rm(538);
  height: Rm(250);
  padding-top: Rm(50);
  box-sizing: border-box;
  margin: Rm(32) auto 0;
  background: url(./i/money.png) no-repeat 0 0;
  background-size: Rm(538) Rm(250);
  position: relative;
  box-shadow: 0 Rm(8) Rm(40) 0 rgba(209, 31, 72, 0.45);
  border-radius: Rm(16); }
  .h5_read .money-con a {
    display: block;
    width: Rm(162);
    height: Rm(162);
    background: url(./i/money-hb.png) no-repeat 0 0;
    background-size: Rm(162) Rm(162);
    margin: 0 auto;
    text-align: center;
    font-family: "微软雅黑";
    font-size: Rm(32);
    color: #FFF;
    padding-top: Rm(46);
    box-sizing: border-box;
    line-height: Rm(38);
    font-weight: bold;
    -webkit-animation: money1 1.5s 0s infinite;
    -moz-animation: money1 1.5s 0s infinite;
    -ms-animation: money1 1.5s 0s infinite;
    -o-animation: money1 1.5s 0s infinite;
    animation: money1 1.5s 0s infinite; }

@-webkit-keyframes money1 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes money1 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-ms-keyframes money1 {
  .h5_read .money-con a 0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  .h5_read .money-con a 50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  .h5_read .money-con a 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-o-keyframes money1 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes money1 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.h5_read .money-con-lg {
  display: none;
  width: Rm(538);
  height: Rm(250);
  box-sizing: border-box;
  margin: Rm(32) auto 0;
  background: url(./i/money2.png) no-repeat 0 0;
  background-size: Rm(538) Rm(250);
  position: relative;
  border-radius: Rm(16);
  padding-top: Rm(60);
  box-sizing: border-box; }
  .h5_read .money-con-lg span {
    height: Rm(46);
    text-align: center;
    display: block;
    font-size: Rm(28);
    color: #DE5054;
    font-family: "微软雅黑";
    width: Rm(186);
    line-height: Rm(46);
    margin: 0 auto; }
  .h5_read .money-con-lg var {
    font-style: normal;
    height: Rm(34);
    line-height: Rm(34);
    text-align: center;
    display: block;
    font-size: Rm(24);
    font-family: Arial;
    color: #9B9B9B;
    margin-top: Rm(18); }

.h5_read .money-con-cr {
  display: none;
  width: Rm(538);
  height: Rm(250);
  box-sizing: border-box;
  margin: Rm(32) auto 0;
  background: url(./i/money3.png) no-repeat 0 0;
  background-size: Rm(538) Rm(250);
  position: relative;
  border-radius: Rm(16);
  padding-top: Rm(16); }
  .h5_read .money-con-cr cite {
    font-style: normal;
    height: Rm(34);
    line-height: Rm(34);
    text-align: center;
    display: block;
    font-size: Rm(24);
    font-family: "微软雅黑";
    color: #9B9B9B;
    margin-top: Rm(6); }
  .h5_read .money-con-cr span {
    margin-top: Rm(6);
    height: Rm(60);
    text-align: center;
    display: block;
    font-size: Rm(60);
    color: #DE5054;
    font-family: 'AlternateGothicEF-NoThree';
    line-height: Rm(60);
    text-align: center; }
    .h5_read .money-con-cr span em {
      font-style: normal;
      color: #DE5054; }
    .h5_read .money-con-cr span i {
      font-size: Rm(28);
      font-style: normal;
      margin-left: Rm(2); }
  .h5_read .money-con-cr var {
    font-style: normal;
    height: Rm(34);
    line-height: Rm(34);
    text-align: center;
    display: block;
    font-size: Rm(24);
    font-family: "微软雅黑";
    color: #9B9B9B;
    margin-top: Rm(6); }
    .h5_read .money-con-cr var em {
      font-style: normal; }
  .h5_read .money-con-cr p {
    height: Rm(46);
    line-height: Rm(46);
    text-align: center;
    font-size: Rm(28);
    font-family: "微软雅黑";
    color: #fff;
    margin-top: Rm(12); }

.h5_read_con .money-con {
  display: block; }

.h5_cur .money-con {
  -webkit-animation: money 0.5s 0s infinite;
  -moz-animation: money 0.5s 0s infinite;
  -ms-animation: money 0.5s 0s infinite;
  -o-animation: money 0.5s 0s infinite;
  animation: money 0.5s 0s infinite; }

@-webkit-keyframes money {
  0% {
    transform: rotate(2deg) translate3d(0, 0, 0);
    -webkit-transform: rotate(2deg) translate3d(0, 0, 0);
    -ms-transform: rotate(2deg) translate3d(0, 0, 0);
    -moz-transform: rotate(2deg) translate3d(0, 0, 0);
    -o-transform: rotate(2deg) translate3d(0, 0, 0); }
  50% {
    transform: rotate(-2deg) translate3d(0, 0, 0);
    -webkit-transform: rotate(-2deg) translate3d(0, 0, 0);
    -ms-transform: rotate(-2deg) translate3d(0, 0, 0);
    -moz-transform: rotate(-2deg) translate3d(0, 0, 0);
    -o-transform: rotate(-2deg) translate3d(0, 0, 0); }
  100% {
    transform: rotate(2deg) translate3d(0, 0, 0);
    -webkit-transform: rotate(2deg) translate3d(0, 0, 0);
    -ms-transform: rotate(2deg) translate3d(0, 0, 0);
    -moz-transform: rotate(2deg) translate3d(0, 0, 0);
    -o-transform: rotate(2deg) translate3d(0, 0, 0); } }

@-moz-keyframes money {
  0% {
    transform: rotate(2deg) translate3d(0, 0, 0);
    -webkit-transform: rotate(2deg) translate3d(0, 0, 0);
    -ms-transform: rotate(2deg) translate3d(0, 0, 0);
    -moz-transform: rotate(2deg) translate3d(0, 0, 0);
    -o-transform: rotate(2deg) translate3d(0, 0, 0); }
  50% {
    transform: rotate(-2deg) translate3d(0, 0, 0);
    -webkit-transform: rotate(-2deg) translate3d(0, 0, 0);
    -ms-transform: rotate(-2deg) translate3d(0, 0, 0);
    -moz-transform: rotate(-2deg) translate3d(0, 0, 0);
    -o-transform: rotate(-2deg) translate3d(0, 0, 0); }
  100% {
    transform: rotate(2deg) translate3d(0, 0, 0);
    -webkit-transform: rotate(2deg) translate3d(0, 0, 0);
    -ms-transform: rotate(2deg) translate3d(0, 0, 0);
    -moz-transform: rotate(2deg) translate3d(0, 0, 0);
    -o-transform: rotate(2deg) translate3d(0, 0, 0); } }

@-ms-keyframes money {
  .h5_cur .money-con 0% {
    transform: rotate(2deg) translate3d(0, 0, 0);
    -webkit-transform: rotate(2deg) translate3d(0, 0, 0);
    -ms-transform: rotate(2deg) translate3d(0, 0, 0);
    -moz-transform: rotate(2deg) translate3d(0, 0, 0);
    -o-transform: rotate(2deg) translate3d(0, 0, 0); }
  .h5_cur .money-con 50% {
    transform: rotate(-2deg) translate3d(0, 0, 0);
    -webkit-transform: rotate(-2deg) translate3d(0, 0, 0);
    -ms-transform: rotate(-2deg) translate3d(0, 0, 0);
    -moz-transform: rotate(-2deg) translate3d(0, 0, 0);
    -o-transform: rotate(-2deg) translate3d(0, 0, 0); }
  .h5_cur .money-con 100% {
    transform: rotate(2deg) translate3d(0, 0, 0);
    -webkit-transform: rotate(2deg) translate3d(0, 0, 0);
    -ms-transform: rotate(2deg) translate3d(0, 0, 0);
    -moz-transform: rotate(2deg) translate3d(0, 0, 0);
    -o-transform: rotate(2deg) translate3d(0, 0, 0); } }

@-o-keyframes money {
  0% {
    transform: rotate(2deg) translate3d(0, 0, 0);
    -webkit-transform: rotate(2deg) translate3d(0, 0, 0);
    -ms-transform: rotate(2deg) translate3d(0, 0, 0);
    -moz-transform: rotate(2deg) translate3d(0, 0, 0);
    -o-transform: rotate(2deg) translate3d(0, 0, 0); }
  50% {
    transform: rotate(-2deg) translate3d(0, 0, 0);
    -webkit-transform: rotate(-2deg) translate3d(0, 0, 0);
    -ms-transform: rotate(-2deg) translate3d(0, 0, 0);
    -moz-transform: rotate(-2deg) translate3d(0, 0, 0);
    -o-transform: rotate(-2deg) translate3d(0, 0, 0); }
  100% {
    transform: rotate(2deg) translate3d(0, 0, 0);
    -webkit-transform: rotate(2deg) translate3d(0, 0, 0);
    -ms-transform: rotate(2deg) translate3d(0, 0, 0);
    -moz-transform: rotate(2deg) translate3d(0, 0, 0);
    -o-transform: rotate(2deg) translate3d(0, 0, 0); } }

@keyframes money {
  0% {
    transform: rotate(2deg) translate3d(0, 0, 0);
    -webkit-transform: rotate(2deg) translate3d(0, 0, 0);
    -ms-transform: rotate(2deg) translate3d(0, 0, 0);
    -moz-transform: rotate(2deg) translate3d(0, 0, 0);
    -o-transform: rotate(2deg) translate3d(0, 0, 0); }
  50% {
    transform: rotate(-2deg) translate3d(0, 0, 0);
    -webkit-transform: rotate(-2deg) translate3d(0, 0, 0);
    -ms-transform: rotate(-2deg) translate3d(0, 0, 0);
    -moz-transform: rotate(-2deg) translate3d(0, 0, 0);
    -o-transform: rotate(-2deg) translate3d(0, 0, 0); }
  100% {
    transform: rotate(2deg) translate3d(0, 0, 0);
    -webkit-transform: rotate(2deg) translate3d(0, 0, 0);
    -ms-transform: rotate(2deg) translate3d(0, 0, 0);
    -moz-transform: rotate(2deg) translate3d(0, 0, 0);
    -o-transform: rotate(2deg) translate3d(0, 0, 0); } }
  .h5_cur .money-con a {
    -webkit-animation: money-a 1.5s 0s infinite;
    -moz-animation: money-a 1.5s 0s infinite;
    -ms-animation: money-a 1.5s 0s infinite;
    -o-animation: money-a 1.5s 0s infinite;
    animation: money-a 1.5s 0s infinite; }

@-webkit-keyframes money-a {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1); }
  50% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1); } }

@-moz-keyframes money-a {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1); }
  50% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1); } }

@-ms-keyframes money-a {
  .h5_cur .money-con a 0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1); }
  .h5_cur .money-con a 50% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8); }
  .h5_cur .money-con a 100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1); } }

@-o-keyframes money-a {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1); }
  50% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1); } }

@keyframes money-a {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1); }
  50% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1); } }

.h5_read_con_cr .money-con-cr {
  display: block; }

.h5_read_con_lg .money-con-lg {
  display: block; }
